:root {
    --black: #000000;
    --white: #ffffff;
    --light-grey: #d8d9db;
    --buttons-on-hover: #ebebeb;
    --button-active-state: #bbbcbe;
    --function-buttons: #df974c;
    --function-buttons-on-hover: #dfb07e;
    --function-button-active-state: #dd8d37;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
  padding: 0;
  margin: 0;
  background-color: #ccc;
  font-family: "Courier New", Courier, monospace;
}

.contianer {
    width: 40rem;
    margin: 0 auto;
    margin-top: 50px;

    
}
.screen{
  background-color: var(--black);
  color: var(--white);
  font-size: 30px ;
  padding: 30px 20px;
 
  text-align: right;
}

.btn, .btn-func{
width: 100px;
border: 0.8px solid black;
font-size: 40px;
float: left;
height: 70px;

}


.zero{
  width: 300px;
}
.clear{
  width: 200px;
}

.btn-func{
  background-color: var(--function-buttons);
  color: var(--white);
 
}



